@import '~scss/colors';
@import '~scss/globals';

.file-card {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: $border-radius;
  cursor: pointer;
  transition: $time-fast;
  overflow: hidden;

  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.20);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover!important;
    height: 200px;
    border-bottom: 1px solid #e2e2e2;
  }

  .img-name {
    color: $text-light;
    font-weight: 600;
  }

  .folder {
    color: $text-light;
    font-weight: 600;
  }
}
