$black: #011627;
$white: #FDFFFC;
$palette-1: #b447c4;
$palette-2: #c2103a;
$palette-3: #FF9F1C;

$nav-outline: #eff;
$nav-outline-hvr: rgba(#d975e8,.4);

$text-ghost: #b4b4b4;
$text-light: #717171;
$text-main: #2a2a2a;
$text-hard: #212121;

$color-light-grey: #c9c9c9;

$palette-1-v-light: #e396ee;

$palette-1-light: #d975e8;
$palette-2-light: #ffe9ee;

$palette-1-dark: #27afb3;
$palette-2-dark: #ab1236;
$palette-3-dark: #bb781c;

$chip-bg: #def5ff;
$chip-font: #036778;

$palette-1-pastel: #a9fafc;
