body {
  font-family: 'Inter', sans-serif;
}

@import '~scss/colors';
@import '~scss/globals';

body {
  background: #e3e3e3!important;
  padding: 20px 20px;
}

.main-card {
  border-top-right-radius: $border-radius-big;
  border-top-left-radius: $border-radius-big;
  background: #fff;
}
