body {
  font-family: 'Inter', sans-serif;
}

@import '~scss/colors';
@import '~scss/globals';

body {
  background: #e3e3e3!important;
  padding: 40px 40px;
  font-family: 'Exo 2', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.main-card {
  border-top-right-radius: $border-radius-big;
  border-top-left-radius: $border-radius-big;
  background: #fff;
}
