@import '~scss/colors';
@import '~scss/globals';
html {
  min-height: 100%;
}

body, #root, .App {
  height: 100%;
}

body {
  background: #e3e3e3!important;
  padding: 40px 40px 0 40px;
  font-family: 'Exo 2', sans-serif!important;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.main-card {
  border-top-right-radius: $border-radius-big;
  border-top-left-radius: $border-radius-big;
  background: #fff;
  padding-bottom: 50px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

a.no-dec {
  text-decoration: none!important;
}
