@import '~scss/colors';
@import '~scss/globals';

.r-brand {
  transition: 0.3s;
  color: $text-ghost!important;
  font-weight: 600;
}

.nav-option {
  font-weight: 600;
  font-size: 130%;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
  border-radius: 999px;
  transition: $time-mid;

  padding: 4px 19px;

  &:hover.bioinfo {
    background: #f5dcdc;
    color: #811818;
  }

  &:hover.bcore {
    background: #ccd5ee;
    color: #1e429f;
  }
}

.nav-form {

  background: #e2e2e2;
  border-color: #e2e2e2;
  transition: $time-mid;
  padding-left: 15px;

  &:focus {
    outline: none;
    box-shadow: none!important;
    background: white;
    border-color: #e2e2e2;
  }

  &:hover:not(:focus) {
    background: #ececec;
    border-color: #ececec;
  }

  border-radius: 999px;
}
